
.header-font {
    font: 3em $fredericka;
    text-shadow: #90e0ff 4px 2px 2px;
    transition: all 1s ease;
    @media #{$brk-small} {
        font: 4em $fredericka;
    }
    @media #{$brk-mid} {
        font: 5em $fredericka;
    }
    @media #{$brk-wide} {
        font: 6em $fredericka;
    }
    &:hover {
        text-shadow: #20ec00 4px 2px 2px;
        transform: scale(1.1);
    }
}