body {
  	padding-top: 20px;
	background: #c5a7d9 url(../img/clouds.png) left top repeat;
	background-attachment: fixed;
}
.content-font {
    font: 1.6em $fredericka;
    color: $blue;
}
.container {
    font: 1em $fredericka;
}
.purple {
    color: $purple;
}
.orange {
    color: $orange;
}
.turquoise {
  	color: $turquoise;
}
.yellow {
    color: $yellow;
}
.navy-blue {
    color: $navy-blue;
}